body{
  background-color: light lightgrey;
  }

header{
  background-color: dodgerblue;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  border: 3px solid black;
  font-size: 20px;
}

nav{
  display: flex;
  align-items: center;
}

header a {
  color: white;
  font-size: 20px;
}

main{
  display: grid;
 
  gap: 18px;
  padding: 18px;
  align-items: start;
}

aside {
  background-color: dodgerblue;
  color: white;
  font-size: 20px;
  border: 3px solid dodgerblue;
}


header h1{
  font-size: 40px;
  margin: 0%;
}

form{
  margin: 0%;
  display: flex;
  gap: 10px;
  padding-left: 6px;
}

article{
  background-color: aliceblue;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
}

img{
  height: 100px;
  width: 300px;
  display: flex;
  align-items: center;

}

footer{
  background-color: dodgerblue;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 30px 40px;
  gap: 60px;
}

